<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.yobibytelabs.rescatapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controladores.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".twitter.TwitterWebView"
            android:label="Autentificación" />
        <activity
            android:name=".controladores.ActividadDatos"
            android:screenOrientation="portrait"
            android:label="Datos"
            android:windowSoftInputMode="stateVisible|adjustPan"

            >
        </activity>
        <activity
            android:name=".controladores.ActividadTalla"
            android:screenOrientation="portrait"
            android:label="Talla" >
        </activity>
        <activity
            android:name=".controladores.ActividadRaza"
            android:screenOrientation="portrait"
            android:label="Raza" >
        </activity>
        <activity
            android:name=".controladores.ActividadConfirmacion"
            android:screenOrientation="portrait"
            android:label="ConfirmaDatos" >
        </activity>
        <activity
            android:name=".controladores.ActividadCompartir"
            android:screenOrientation="portrait"
            android:label="Genial" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:name="com.facebook.LoginActivity"/>
    </application>
</manifest>
